* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    height: 60px;
    align-items: center;
}
.header .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 16px;
    margin-left: 164px;
    text-transform: uppercase;
}
.header ul {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    list-style: none;
    padding: 24px;
    margin-right: 108px;
}
.header ul a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
/* End of Header */


/* Hero */
.hero {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    width: 100%;
    height: 500px;
}
.hero .left-bar {
    width: 400px;
    height: 255px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero .left-bar h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}
.hero .left-bar p {
    color: #E5E7EB;
    font-size: 18px;
}
.hero .left-bar button {
    color: white;
    font-size: 18px;
    background-color: #3882F6;
    border: none;
    width: 120px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}
.hero .right-bar {
    width: 400px;
    margin-top: 40px;
    height: 265px; 
}
.hero .right-bar img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(116, 116, 116);
    height: 265px; 
}
/* End of Hero */


/* Information */
.information {
    display: flex;
    flex-direction: column;
    height: 400px;
}
.information h1 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    margin-top: 20px;
}
.description-photo-section {
    display: flex;
    justify-content: center;
}
.description-photo {
    width: 200px;
    height: 250px;
    margin: 40px 10px;
    overflow: hidden;
}
.description-photo img{
    width: 100%;
    height: 50%;
    border: 2px solid #3882F6;
    border-radius: 5px;
}
.description-photo p{
    width: 100%;
    height: 50%;
    text-align: center;
    color: black;
    margin-top: 4px;
    font-size: 15px;
}
/* End of Information */


/* Quotes */
.quotes {
    display: flex;
    height: 200px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}
.quotes-quotes {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 150px;
    background-color: #E5E7EB;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
}
.quotes p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
/* End of Quotes */


/* Sign up */
.sign-up {
    display: flex;
    height: 200px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.sign-up-wrap {
    background-color: #3882F6;
    border-radius: 10px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 50px;
    align-items: center;
}
.sidebar-left-sign {
    width: 40%;
    color: #E5E7EB;
}
.sidebar-right-sign {
    width: 40%;
}
.sidebar-right-sign button{
    background-color: #3882F6;
    color: #E5E7EB;
    border: 1px solid white;
    width: 120px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
/* End of Sign Up */


/* Footer */
footer {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}
footer p{
    text-align: center;
    color: #E5E7EB;
}
/* End of Footer */


